<div id="<%= dom_id document %>">
  <p>
    <strong>Description:</strong>
    <%= document.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= document.link %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= document.token %>
  </p>

</div>
